<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" enctype="multipart/form-data">
        <label for="note">Create note</label><br>
        <input type="text" id="note" name="note"><br>
        <label for="category">Enter category</label><br>
        <input type="text" id="category" name="category"><br>
        <input type="submit"><br>
    </form>
</body>
</html>